.PinkAwareButton {
  background-color: white;
  padding: 4px;
  border-style: solid;
}

.pink .PinkAwareButton {
  color: pink;
}


.PinkAwareButton:hover {
  background-color: #fcfcfc;
  cursor: pointer;
}